In [1]:
%load_ext autoreload
%autoreload 2
import sys
sys.path.insert(0, "../include/")
import mongo_helper_functions as mongo_helper
import logging
logger = logging.getLogger()
logger.setLevel(logging.INFO)
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
tweets = mongo_helper.connectMongo(
    host= "angst.soic.indiana.edu",
    db_name= "smm4h",
    collection_name= "tweets"
)
tweets.estimated_document_count()

23965

In [3]:
df = mongo_helper.query(
    tweets,
    mongo_helper.limit(10)
)
df.info()
df.head()

INFO:root:Query duration: 0:00:00.023970

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 54 columns):
_id                                     10 non-null object
datetime                                10 non-null datetime64[ns]
task_four                               10 non-null bool
task_one                                10 non-null bool
task_three                              10 non-null bool
task_two                                10 non-null bool
tweet.coordinates                       0 non-null object
tweet.created_at                        10 non-null object
tweet.entities.hashtags                 10 non-null object
tweet.entities.symbols                  10 non-null object
tweet.entities.urls                     10 non-null object
tweet.entities.user_mentions            10 non-null object
tweet.favorite_count                    10 non-null int64
tweet.favorited                         10 non-null bool
tweet.id_str                            10 non-null object
tweet.in_reply_to_screen_name           2 non-null object
tweet.in_reply_to_status_id_str         2 non-null object
tweet.in_reply_to_user_id_str           2 non-null object
tweet.is_quote_status                   10 non-null bool
tweet.lang                              10 non-null object
tweet.place                             0 non-null object
tweet.possibly_sensitive                1 non-null object
tweet.possibly_sensitive_appealable     1 non-null object
tweet.retweet_count                     10 non-null int64
tweet.retweeted                         10 non-null bool
tweet.source                            10 non-null object
tweet.text                              10 non-null object
tweet.user.created_at                   10 non-null object
tweet.user.description                  10 non-null object
tweet.user.entities.description.urls    10 non-null object
tweet.user.entities.url.urls            3 non-null object
tweet.user.favourites_count             10 non-null int64
tweet.user.follow_request_sent          10 non-null bool
tweet.user.followers_count              10 non-null int64
tweet.user.following                    10 non-null bool
tweet.user.friends_count                10 non-null int64
tweet.user.geo_enabled                  10 non-null bool
tweet.user.has_extended_profile         10 non-null bool
tweet.user.id_str                       10 non-null object
tweet.user.is_translation_enabled       10 non-null bool
tweet.user.is_translator                10 non-null bool
tweet.user.lang                         10 non-null object
tweet.user.listed_count                 10 non-null int64
tweet.user.location                     10 non-null object
tweet.user.name                         10 non-null object
tweet.user.notifications                10 non-null bool
tweet.user.protected                    10 non-null bool
tweet.user.screen_name                  10 non-null object
tweet.user.statuses_count               10 non-null int64
tweet.user.time_zone                    0 non-null object
tweet.user.translator_type              10 non-null object
tweet.user.url                          3 non-null object
tweet.user.utc_offset                   0 non-null object
tweet.user.verified                     10 non-null bool
dtypes: bool(16), datetime64[ns](1), int64(7), object(30)
memory usage: 3.2+ KB

,_id,datetime,task_four,task_one,task_three,task_two,tweet.coordinates,tweet.created_at,tweet.entities.hashtags,tweet.entities.symbols,...,tweet.user.name,tweet.user.notifications,tweet.user.protected,tweet.user.screen_name,tweet.user.statuses_count,tweet.user.time_zone,tweet.user.translator_type,tweet.user.url,tweet.user.utc_offset,tweet.user.verified
0,350826068942389249,2013-06-29 04:00:27,False,True,False,False,None,Sat Jun 29 04:00:27 +0000 2013,[{'text': 'fail'}],[],...,Elaina Kennedy,False,False,ElainaK84,6059,None,none,None,None,False
1,341063958020620290,2013-06-02 05:29:18,False,True,False,False,None,Sun Jun 02 05:29:18 +0000 2013,[],[],...,George Ampil,False,False,georgeampilwho,19507,None,none,None,None,False
2,342497737536831489,2013-06-06 04:26:38,False,True,False,False,None,Thu Jun 06 04:26:38 +0000 2013,[],[],...,Jordan Correll,False,False,JordanCorrell3,8329,None,none,None,None,False
3,350019654330220549,2013-06-26 22:36:03,False,True,False,False,None,Wed Jun 26 22:36:03 +0000 2013,[],[],...,Depressionista,False,False,Dpressionista,324,None,none,http://t.co/MkZHN8LBiU,None,False
4,351019965953998852,2013-06-29 16:50:56,False,True,False,False,None,Sat Jun 29 16:50:56 +0000 2013,[],[],...,banana bread,False,False,brassiest,49915,None,none,https://t.co/HxeLRIEs8r,None,False